@model IEnumerable<OnlineBusTicket.Models.View.CustomerView>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Exportable Table -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h1 style="color: red; font-weight:bold">
                    CUSTOMER MANAGEMENT
                </h1>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="@Url.Action("Create", "Customer")" role="button" aria-haspopup="true" aria-expanded="false">
                            Add new customer
                        </a>

                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                        <thead>
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.customer.cName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.customer.cBirthday)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.customer.cPhone)
                                </th>

                                <th colspan="2" style="text-align: center">Action</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>

                                <th>
                                    @Html.DisplayNameFor(model => model.customer.cName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.customer.cBirthday)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.customer.cPhone)
                                </th>

                                <th colspan="2" style="text-align: center">Action</th>

                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.customer.cName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.customer.cBirthday)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.customer.cPhone)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "Customer", new { id = item.customer.cId})"><i class="material-icons">mode_edit</i> Edit</a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Delete", "Customer", new { id = item.customer.cId})"><i class="material-icons">cancel_presentation</i> Delete</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #END# Exportable Table -->
