@model IEnumerable<OnlineBusTicket.Models.BlockTime>

@{
    ViewBag.Title = "BlockTimeT";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>BlockTimeT</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartPlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Destination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.btPrice)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartPlace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.btPrice)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.btId }) |
            @Html.ActionLink("Details", "Details", new { id=item.btId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.btId })
        </td>
    </tr>
}

</table>
