@model IEnumerable<OnlineBusTicket.Models.View.RouteView>
@{
    ViewBag.Title = "RouteDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<!-- Exportable Table -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Route Management
                </h2>

            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                        <thead>
                            <tr>
                                <th>Bus Number</th>
                                <th>Desparture Time</th>
                                <th>Pick up</th>
                                <th>Drop off</th>
                                <th>Date</th>
                                <th>Price</th>
                                <th>Seat</th>
                                <th>Avaibility</th>
                                <th>Edit</th>

                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Bus Number</th>
                                <th>Desparture Time</th>
                                <th>Pick up</th>
                                <th>Drop off</th>
                                <th>Date</th>
                                <th>Price</th>
                                <th>Seat</th>
                                <th>Avaibility</th>
                                <th>Edit</th>

                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.bus.bNumber)</td>
                                    <td>@Html.DisplayFor(modelItem => item.block.StartTime)</td>
                                    @{
                                        foreach (var a in ViewBag.CounterName)
                                        {
                                            if (Convert.ToInt32(a.Value) == item.block.StartPlace)
                                            {
                                                <td>@a.Text</td>
                                            }
                                        }
                                        foreach (var a in ViewBag.CounterName)
                                        {
                                            if (Convert.ToInt32(a.Value) == item.block.Destination)
                                            {
                                                <td>@a.Text</td>
                                            }
                                        }
                                    }
                                    <td>@Html.DisplayFor(modelItem => item.route.date)</td>
                                    <td>@Html.DisplayFor(modelItem => item.route.rPrice)</td>

                                    @{
                                        foreach (var a in ViewBag.SeatNumber)
                                        {
                                            if (Convert.ToInt32(a.Value) == item.routeDetail.sId)
                                            {
                                                <td>@a.Text</td>
                                            }
                                        }
                                        if (item.routeDetail.avaibility == 0)
                                        {
                                            <td>Available</td>
                                        }
                                        else
                                        {
                                            <td>Occupied </td>
                                        }
                                    }
                                    <td>
                                        <a href="@Url.Action("EditRoute", "Admin", new { id = item.route.rId})">
                                            <i class="material-icons">mode_edit</i>
                                        </a>
                                    </td>

                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #END# Exportable Table -->

<div>
    @Html.ActionLink("Back to route list", "Route")
</div>